.cart{
    padding-top: 50px;
}

.cardContainer{
    margin-top: 25px !important;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -49.5vw;
    margin-right: -50vw;
}

.backButton{
    right: 0px;
    position: fixed;
}

.divDullW{
    width: 100%;
    height: 30px; 
}


.cardsContainer{
    height: 100%;  
}

 