<div class="container loginCard">
    <div class="flex justify-content-center align-items-center">
        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
            <p-card header="Login" [style]="{width:'350px'}">
                 <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText name="email" formControlName="email"               
                    class="w-full"  
                    name="email" placeholder="Enter your email"
                    />               
                    <small *ngIf="email.invalid && (email.dirty  && email.touched)" class="block p-error">
                        <div *ngIf="email.errors?.['required']">Email Id is required</div>
                        <div *ngIf="email.errors?.['email']">Email Id is invalid</div>
                    </small>           
                 </div> 
                
                 <div class="field">
                    <label for="password">Password</label>
                    <input type="password" 
                    pInputText   
                    class="w-full" 
                    name="password" formControlName="password" id="password" placeholder="Enter password"/>
                    <small *ngIf="password.invalid && (password.dirty  && password.touched)" class="block p-error">
                        <div *ngIf="password.errors?.['required']">Password is required</div> 
                    </small>
                 </div> 
                 
              <button type="submit" class="btn btn-primary" label="Submit" [disabled] = "loginForm.invalid">Submit</button> 
                 
            </p-card>
        </form>
    </div>
</div>