<app-header></app-header>
<div class="container cart">
  <div class="row mt-5 full-width">
    <div class="col-1" style="width:20%;margin-top: -12px;height:800px;background: silver; min-height: calc(100vh - 98px);
    height:auto;
    ">
    <div style="width: 18%; height: 99.93%; background-color: rgb(84, 85, 85); position: absolute;">
    </div>
       <div class="vertical-menu">
        <a href="#" *ngFor="let trend of Trends$ | async">{{trend.name}}</a>
      </div>
  </div>
    <div class="col-6" style="width:60%;">
        <div class="orderSuccess" *ngIf="orderPlaced">
            <h4>Your order placed successfully !</h4>
         </div>
      <div class="container cardsContainer">
         <div class="cardsContainer">
          <div >
            <p-card *ngIf="!orderPlaced"> 
              <div>                 
                  <div class="col-8">
                       <h5>Your Address</h5>
                       <div class="flex flex-column gap-3">
                        <div *ngFor="let address of addresses" class="field-checkbox">
                            <p-radioButton [inputId]="address.id" name="address" [value]="address.id" [(ngModel)]="selectedAddress"></p-radioButton>
                            <label [for]="address.id" class="ml-2">{{ address.address }}</label>
                        </div>
                    </div>
                  </div>
                  <div class="m-0 "> </div>
                  
                </div>  
            </p-card>

            <div><button *ngIf="!orderPlaced" class="btn btn-primary backButton" (click)="placeOrder()">Proceed for Payement</button></div>
          </div>
         </div>
         
         <div style="width: 100%;height: 56px;"></div>
         
    </div>
  </div>
  
  <div class="col-5" style="width:18%;">
    <div class="divDullW"><button class="btn btn-primary backButton" (click)="onBackClick()">{{(orderPlaced)?'Back to Dashboard':'Back to Cart'}}</button></div>
     
  </div>
</div>
<app-footer></app-footer>